<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
<html class="no-js">

<!--HEAD  start-->
<head>
  <meta charset="utf-8">
  <title></title>
  <!--SEO skeleton-->
  <meta name="robots" content="">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <!--allows ie8 users to use Google Chrome Frame plugin in our browser-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="//www.google-analytics.com" rel="dns-prefetch">
  <link href="//ajax.googleapis.com" rel="dns-prefetch">
  <!--CSS include-->
  <link href="assets/css/core.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">

  <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<!--HEAD end-->


<body itemscope itemtype='http://schema.org/WebPage'>

<!--LAYOUT start-->
<div class="l-layout">

<!--HEADER start-->
include "partials/l-header"
<!--HEADER end-->

<!--MAIN start-->
<div class="l-main" role="main">

  <!--media X-Large-->
  <article class="media--XL">
    <header>
      <div class="media__imageContainer">
        <img src="assets/img/tmp/img-xl.jpg" alt=""/>
      </div>
      <div><a href="#">Princess Leila</a></div>
      <h1 class="media__title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
    </header>
    <p>Lorem <b>ipsum</b> <em>dolor</em> sit amet, consectetur adipisicing elit. Ab accusantium alias, assumenda culpa, cumque debitis
      deleniti dicta impedit laudantium mollitia nihil quaerat quam, quo saepe similique sunt tempore temporibus
      veniam!</p>
  </article>

  <!--media M section -->
  <section class="mediaSection">
    <header>
      <h1>Latest News</h1>
    </header>
    <div class="l-jLine-top">
      <!--media Middle-->
      <article class="media--M">
        <header>
          <div class="media__imageContainer">
            <img src="assets/img/tmp/img-m.jpg" alt=""/>
          </div>
          <time datetime="2013-05-22">May 22, 2013</time>
          <h1 class="media__title"><a href="#">Lorem ipsum dolor sit amet</a></h1>
        </header>
        <div class="media__textContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam animi dicta ducimus expedita hic illum laborum molestias, nemo non perspiciatis quibusdam rem similique tempore ut veniam voluptate, voluptatem! Similique. tempore ut veniam voluptate, voluptatem! Similique tempore ut veniam voluptate, voluptatem! Similique tempore ut veniam voluptate, voluptatem! Similique</div>
      </article>
      <!--media Middle-->
      <article class="media--M">
        <header>
          <div class="media__imageContainer">
            <img src="assets/img/tmp/img-m.jpg" alt=""/>
          </div>
          <time>May 22, 2013</time>
          <h1 class="media__title"><a href="#">Lorem ipsum dolor sit amet</a></h1>
        </header>
        <div class="media__textContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam animi dicta ducimus expedita hic illum laborum molestias, nemo non perspiciatis quibusdam rem similique tempore ut veniam voluptate, voluptatem! Similique. tempore ut veniam voluptate, voluptatem! Similique tempore ut veniam voluptate, voluptatem! Similique tempore ut veniam voluptate, voluptatem! Similique</div>
      </article>
      <!--media Middle-->
      <article class="media--M">
        <header>
          <div class="media__imageContainer">
            <img src="assets/img/tmp/img-m.jpg" alt=""/>
          </div>
          <time>May 22, 2013</time>
          <h1 class="media__title"><a href="#">Lorem ipsum dolor sit amet</a></h1>
        </header>
        <div class="media__textContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam animi dicta ducimus expedita hic illum laborum molestias, nemo non perspiciatis quibusdam rem similique tempore ut veniam voluptate, voluptatem! Similique. tempore ut veniam voluptate, voluptatem! Similique tempore ut veniam voluptate, voluptatem! Similique tempore ut veniam voluptate, voluptatem! Similique</div>
      </article>
    </div>
    <footer><a class="oo-moreBtn" href="#">More news</a></footer>
  </section>

  <!--media L section -->
  <section class="mediaSection mediaSection--withDividers">
    <header>
      <h1>Latest pictures and video</h1>
    </header>
    <div class="l-jLine-top">
      <!--media Large-->
      <article class="media--L">
        <header>
          <div class="media__imageContainer">
            <img src="assets/img/tmp/img-l.jpg" alt=""/>
          </div>
          <div>
            <time datetime="2013-05-22">May 22, 2013</time>
            -
            <a href="#">10 Pictures</a>
          </div>
          <h1 class="media__title"><a href="#">Lorem ipsum dolor sit amet</a></h1>
        </header>
        <div class="media__textContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam animi dicta ducimus expedita hic illum laborum molestias, nemo non perspiciatis quibusdam rem similique tempore ut veniam voluptate, voluptatem! Similique. tempore ut veniam voluptate, voluptatem! Similique tempore ut veniam voluptate, voluptatem! Similique tempore ut veniam voluptate, voluptatem! Similique</div>
        <footer>
          <a href="#" class="oo-moreBtn">More galleries</a>
        </footer>
      </article>
      <!--media Large-->
      <article class="media--L">
        <header>
          <div class="media__imageContainer oo-responsiveVideo">
            <iframe width="440px" height="245px" src="//www.youtube.com/embed/vVwZ7L9nGJA" frameborder="0" allowfullscreen></iframe>
          </div>
          <div>
            <time datetime="2013-05-22">May 22, 2013</time>
            -
            <a href="#">10 Pictures</a>
          </div>
          <h1 class="media__title"><a href="#">Lorem ipsum dolor sit amet</a></h1>
        </header>
        <div class="media__textContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam animi dicta ducimus expedita hic illum laborum molestias, nemo non perspiciatis quibusdam rem similique tempore ut veniam voluptate, voluptatem! Similique. tempore ut veniam voluptate, voluptatem! Similique tempore ut veniam voluptate, voluptatem! Similique tempore ut veniam voluptate, voluptatem! Similique</div>
        <footer>
          <a href="#" class="oo-moreBtn">More videos</a>
        </footer>
      </article>
    </div>
  </section>

  <!--media S section -->
  <section class="mediaSection mediaSection--withDividers">
    <header>
      <h1>Latest projects</h1>
    </header>
    <div class="l-jLine-top">
      <!--media Small-->
      <article class="media--S">
        <header>
          <div class="media__imageContainer">
            <img src="assets/img/tmp/img-l.jpg" alt=""/>
          </div>
          <h1 class="media__title">Lorem ipsum</h1>
        </header>
        <div class="media__textContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam animi dicta ducimus expedita hic illum laborum molestias, nemo non perspiciatis quibusdam rem similique tempore ut veniam voluptate, voluptatem! Similique.</div>
        <footer><a href="#">View more</a></footer>
      </article>
      <!--media Small-->
      <article class="media--S">
        <header>
          <div class="media__imageContainer">
            <img src="assets/img/tmp/img-l.jpg" alt=""/>
          </div>
          <h1 class="media__title">Lorem ipsum</h1>
        </header>
        <div class="media__textContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam animi dicta ducimus expedita hic illum laborum molestias, nemo non perspiciatis quibusdam rem similique tempore ut veniam voluptate, voluptatem! Similique.</div>
        <footer><a href="#">View more</a></footer>
      </article>
      <!--media Small-->
      <article class="media--S">
        <header>
          <div class="media__imageContainer">
            <img src="assets/img/tmp/img-l.jpg" alt=""/>
          </div>
          <h1 class="media__title">Lorem ipsum</h1>
        </header>
        <div class="media__textContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam animi dicta ducimus expedita hic illum laborum molestias, nemo non perspiciatis quibusdam rem similique tempore ut veniam voluptate, voluptatem! Similique veniam voluptate, voluptatem! Similique.</div>
        <footer><a href="#">View more</a></footer>
      </article>
      <!--media Small-->
      <article class="media--S">
        <header>
          <div class="media__imageContainer">
            <img src="assets/img/tmp/img-l.jpg" alt=""/>
          </div>
          <h1 class="media__title">Lorem ipsum</h1>
        </header>
        <div class="media__textContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam animi dicta ducimus expedita hic illum laborum molestias, nemo non perspiciatis quibusdam rem similique tempore ut veniam voluptate, voluptatem! Similique. rem similique tempore ut veniam voluptate, voluptatem! Similique.</div>
        <footer><a href="#">View more</a></footer>
      </article>
    </div>
  </section>

</div>
<!--MAIN end-->

<!--start FOOTER-->
include "partials/l-footer"
<!-- end FOOTER -->

</div>
<!--LAYOUT end-->

<!--SCRIPTS  start-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.10.2.min.js"><\/script>');</script>

<!--developer scripts-->
<script src="assets/js/scripts.min.js"></script>

<script>
  (function(f,i,r,e,s,h,l){i['GoogleAnalyticsObject']=s;f[s]=f[s]||function(){
    (f[s].q=f[s].q||[]).push(arguments)},f[s].l=1*new Date();h=i.createElement(r),
      l=i.getElementsByTagName(r)[0];h.async=1;h.src=e;l.parentNode.insertBefore(h,l)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-XXXXXXXX-XX');
  ga('send', 'pageview');
</script>
<!--SCRIPTS end-->

</body>
</html>
