<footer class="l-footer">
  <div class="l-container">
    <div class="l-footer__main">
      <!--about us-->
      <p class="aboutUs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis doloribus explicabo in magnam non <a href="#">perspiciatis.</a></p>

      <!--footer navigation-->
      <nav class="footerNav">
        <ul>
          <li>
            <span class="hero">News & press</span>
            <ul>
              <li><a href="#">News</a></li>
              <li><a href="#">Some another news</a></li>
            </ul>
          </li>
          <li>
            <span class="hero">Science</span>
            <ul>
              <li><a href="#">Some science news 1</a></li>
              <li><a href="#">Some another news 2</a></li>
              <li><a href="#">Some another news 3</a></li>
              <li><a href="#">Some another news 4</a></li>
              <li><a href="#">Some another news 5</a></li>
            </ul>
          </li>
          <li>
            <span class="hero">Management</span>
            <ul>
              <li><a href="#">Amazing new 1</a></li>
              <li><a href="#">Amazing new 2</a></li>
              <li><a href="#">Amazing new 3</a></li>
              <li><a href="#">Amazing new 4</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <!--copyright-->
    <small class="copyright">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      <a href="#">Consequuntur culpa dolorem</a>
    </small>
  </div>
</footer>