<header class="l-header">
  <!--logo-->
  <a class="logo" href="/" itemprop='url'>
    <img src="assets/img/logo.jpg" alt="" itemprop='logo' itemscope itemtype='http://schema.org/ImageObject'>
    <span class="logo__hidden" itemprop="name"></span>
  </a>
  <!--navigation-->
  <nav class="nav" role="navigation">
    <a href="#">
      <span class="hero">Globe</span>
      <span class="description">Text about this</span>
    </a>
    <a href="#">
      <span class="hero">Fiction</span>
      <span class="description">Text about this</span>
    </a>
    <a href="#">
      <span class="hero">News + Press</span>
      <span class="description">Text about this</span>
    </a>
    <a href="#">
      <span class="hero">Contacts</span>
      <span class="description">Text about this</span>
    </a>
  </nav>
</header>